
	<div class="home-page">
		<div id="home-section" class="parallax-section carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image:url(images/bg/cancha.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Bienvedido a</h1>
									<h2 data-animation="animated lightSpeedIn">footbooking</h2>
									<p data-animation="animated lightSpeedIn">Un lugar de encuentro para todos aquellos amantes del deporte, dónde podras encontrar el mejor lugar para divertirte con tus amigos.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

				<div class="item" style="background-image:url(images/bg/jugadores.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Encontrá la mejor opción</h1>
									<h2 data-animation="animated lightSpeedIn">Busca entre los mejores complejos de tu ciudad!</h2>
									<p data-animation="animated lightSpeedIn">Encontrá justo lo que necesitas para tener una mejor experiencia en el campo de juego.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

				<div class="item" style="background-image:url(images/bg/estadio.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Administrá tu complejo</h1>
									<h2 data-animation="animated lightSpeedIn">Entra en el mercado de la reserva on-line</h2>
									<p data-animation="animated lightSpeedIn">Administra tu complejo y tus torneos, date a conocer.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

			</div>
			<a class="left carousel-control" href="#home-section" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
		  	</a>
			  	<a class="right carousel-control" href="#home-section" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
		  	</a>
		</div><!-- #home-section -->

		<div id="search-section">
			<div class="container">
				<form action="#">
					<div class="search-section">
						<ul>
							<li>
								<div class="dropdown category-dropdown">						
									<a data-toggle="dropdown"><span class="change-text">Superficie</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu category-change">
										<li><a>Sintético</a></li>
										<li><a>Césped</a></li>
										<li><a>Futsal</a></li>
										<li><a>Tierra</a></li>
										<li><a>Madera</a></li>
									<!--
										<li><a href="#">Art & Entertainment</a></li>
										<li><a href="#">Cars & Vehicles</a></li>
										<li><a href="#">Sports & Games</a></li>
										<li><a href="#">Electronics</a></li>
										<li><a href="#">Real Estate</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Megazine</a></li>
									-->
									</ul>								
								</div><!-- category-change -->
							</li>
							<li>
								<div class="dropdown category-dropdown">						
									<a data-toggle="dropdown" href="#"><span class="change-text">Tamaño</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu category-change">
										<li><a>Cinco</a></li>
										<li><a>Siete</a></li>
										<li><a>Nueve</a></li>
										<li><a>Once</a></li>
									<!--	
										<li><a href="#">Australia</a></li>
										<li><a href="#">Argentina</a></li>
										<li><a href="#">Belgium</a></li>
										<li><a href="#">Brazil</a></li>
										<li><a href="#">Canada</a></li>
										<li><a href="#">China</a></li>
										<li><a href="#">France</a></li>
									-->
									</ul>								
								</div><!-- category-change -->
							</li>
							<li>
								<input type="text" class="form-control" placeholder="Busca un complejo!">
							</li>
							<li>
								<button type="submit" class="form-control btn btn-primary" value="Search">Buscar</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<!-- search-section -->

						
		
		
		<!-- newsletter -->
		<div id="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="newsletter">
							<p>Suscribete a nuestro newsletter para recibir las ultimas noticias y ofertas</p>
							<div class="input-email">
				                <input type="email" placeholder="Ingresa tu dirección de email" name="email" id="email">
				                <input type="submit" class="btn btn-primary" value="Subscribete Ahora">
				            </div>
						</div>
					</div>
				</div>
			</div><!-- contaioner -->
		</div><!-- #newsletter -->

	</div><!-- .home-page -->