
	<div class="home-page">
		<div id="home-section" class="parallax-section carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image:url(images/bg/slide1.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Bienvenido</h1>
									<h2 data-animation="animated lightSpeedIn">FootBooking</h2>
									<p data-animation="animated lightSpeedIn">El mejor sitio web para hacer reservas de canchas e unirse a campeonatos locales de la Ciudad de Córdoba.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

				<div class="item" style="background-image:url(images/bg/slide2.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Busca ya tu cancha mas cercana</h1>
									<h2 data-animation="animated lightSpeedIn">Reserva on-line</h2>
									<p data-animation="animated lightSpeedIn">Busca tu cancha mas cercana con disponibilidad inmediata todo desde tu dispositivo</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->
				<div class="item" style="background-image:url(images/bg/slide3.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Dizfruta momentos</h1>
									<h2 data-animation="animated lightSpeedIn">Campeonatos</h2>
									<p data-animation="animated lightSpeedIn">Inscribi a tu equipo en camponatos locales de los mejores clubes de la Ciudad de Córdoba, sin moverte de tu casa</p>
									<div class="ad-btn" >
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">Ver vigentes</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->
			</div>
			<a class="left carousel-control" href="#home-section" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
		  	</a>
			  	<a class="right carousel-control" href="#home-section" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
		  	</a>
		</div><!-- #home-section -->

		<div id="search-section">
			<div class="container">
				<form action="#">
					<div class="search-section">
						<ul>
							<li>
								<div class="dropdown category-dropdown">						
									<a data-toggle="dropdown" href="#"><span class="change-text">Todas las categorias</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu category-change">
										<li><a href="#">Canchas disponibles</a></li>
										<li><a href="#">Torneo</a></li>
										
									</ul>								
								</div><!-- category-change -->
							</li>
							<li>
                                     
                                  
                                
							</li>
							<li>
								<input type="text" class="form-control" placeholder="Nombre de complejo">
							</li>

							<li>

								<div class="input date">
									<input type="time" name="usr_time">
									<input type="submit">

								</div>
							</li>

							<li>
								<button type="submit" class="form-control btn btn-primary" value="Search">Buscar</button>
                            </li>
                                

						</ul>
                        
                        
                        
                        
					</div>
				</form>
			</div>
		</div>
		<!-- search-section -->