
	<div class="home-page">
		<div id="home-section" class="parallax-section carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="background-image:url(images/bg/slide1.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Welcome</h1>
									<h2 data-animation="animated lightSpeedIn">To Advert Classified</h2>
									<p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

				<div class="item" style="background-image:url(images/bg/slide2.jpg)">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="slider-content">
									<h1 data-animation="animated lightSpeedIn">Say Hello</h1>
									<h2 data-animation="animated lightSpeedIn">To Advert Template</h2>
									<p data-animation="animated lightSpeedIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
									<div class="ad-btn">
										<a href="#" class="btn btn-primary" data-animation="animated lightSpeedIn">View Ads</a>
									</div>
								</div>
							</div>
						</div><!-- row -->
					</div><!-- contaioner -->
				</div><!-- item -->

			</div>
			<a class="left carousel-control" href="#home-section" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
		  	</a>
			  	<a class="right carousel-control" href="#home-section" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
		  	</a>
		</div><!-- #home-section -->

		<div id="search-section">
			<div class="container">
				<form action="#">
					<div class="search-section">
						<ul>
							<li>
								<div class="dropdown category-dropdown">						
									<a data-toggle="dropdown" href="#"><span class="change-text">Todas las categorias</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu category-change">
										<li><a href="#">Art & Entertainment</a></li>
										<li><a href="#">Cars & Vehicles</a></li>
										<li><a href="#">Sports & Games</a></li>
										<li><a href="#">Electronics</a></li>
										<li><a href="#">Real Estate</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Megazine</a></li>
									</ul>								
								</div><!-- category-change -->
							</li>
							<li>
								<div class="dropdown category-dropdown">						
									<a data-toggle="dropdown" href="#"><span class="change-text">All Locations</span> <i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu category-change">
										<li><a href="#">Australia</a></li>
										<li><a href="#">Argentina</a></li>
										<li><a href="#">Belgium</a></li>
										<li><a href="#">Brazil</a></li>
										<li><a href="#">Canada</a></li>
										<li><a href="#">China</a></li>
										<li><a href="#">France</a></li>
									</ul>								
								</div><!-- category-change -->
							</li>
							<li>
								<input type="text" class="form-control" placeholder="What are you looking for ?">
							</li>
							<li>
								<button type="submit" class="form-control btn btn-primary" value="Search">Search</button>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<!-- search-section -->

						
		
		
		<!-- newsletter -->
		<div id="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="newsletter">
							<p>Sign up with your email to get latest updates and offers</p>
							<div class="input-email">
				                <input type="email" placeholder="Enter your email address" name="email" id="email">
				                <input type="submit" class="btn btn-primary" value="Subscribe Now">
				            </div>
						</div>
					</div>
				</div>
			</div><!-- contaioner -->
		</div><!-- #newsletter -->

	</div><!-- .home-page -->